
<div class="categories">
    categories
</div>


<script>
    var categories;
    function EditCategories(item) {
        if (!item)
            item = { name: "", description: "", parent_Id: null }
            var container = $("<div class='form'></div>");
            container.append('<div class="form-group"><label for="name">Name:</label><input type="text" class="form-control name" placeholder="Enter name" name="name" value="' + item.name + '" /></div>');
            container.append('<div class="form-group"><label for="Description">Description:</label><textarea rows="5" class="form-control description" placeholder="Enter Description" name="Description">' + item.description + '</textarea></div>');
        container.append('<div class="form-group"><label for="name">Parent:</label><input type="text" class="form-control parent" placeholder="Enter name" name="parent" value="---No Parent---" /></div>');
            container.find(".parent").autofill({
                ajaxUrl: '@Url.Action("GetCategoriesComboBoxItems", "Admin")',
                textField: "name",
                valueField: "id",
                childrenProperty: "categories",
                childTextField: "name",
                childValueField: "id",
                selectedValue: item.parent_Id !== null ? item.parent_Id: -1,
                disabledItems: [item],
                items: [{ name: "---No Parent---", id: -1 }],
                onselect: function (category) {
                    if (category.id <= 0)
                        item.parent_Id = null;
                    else item.parent_Id = category.id;
                }
            });
           var dialog= $("body").dialog({
                data: container,
                title: "Add/Edit Categories",
                confirmText: "Save",
                cancelText: "Cancel",
                onConfirm: function () {
                    item.name = container.find(".name").val();
                    item.description = container.find(".description").val();
                    $(".categories").ax({
                        url: '@Url.Action("SaveCategories", "Admin")',
                        data: JSON.stringify(item),
                        success: function (data) {
                            categories.body();
                            dialog.Hide();
                        }
                    });
                    return false;
                },
                onCancel: function () {
                    categories.body();
                }
            }).Show();

    }

    var columns = [{
        data: "name",
        header:"Name"
    },
    {
        data: "description",
        header: "Description"
    }
    ]
    categories = $(".categories").treeView({
        header: "Manage Categories",
        buttons: [{
            text: "Add category",
            click: function () {
                EditCategories();
            }
        }],
        data: function (settings) {
            var result = "";
            if (!settings)
                return [];
            $(".categories").ax({
                url: '@Url.Action("GetCategories", "Admin")',
                data: JSON.stringify(settings),
                async: false,
                success: function (data) {
                    result = data;
                }
            })
            return result;

        },
        pageSize: 20,
        sortColumn: "name",
        sort: "asc",
        columns: columns,
        childrenField: "categories",
        onEdit: function (item) { EditCategories(item); },
        onDelete: function (item) {
            confirm("Are you sure?", function () {
                    $(".categories").ax({
                        url: '@Url.Action("DeleteCategories", "Admin")',
                        data: JSON.stringify({ itemId: item.id }),
                        async: false,
                        success: function (data) {
                            categories.body();
                        }
                    });
            }, $(".categories"));
        }
    });

</script>