@{
    Layout = null;
}

<div class="products">
    categories
</div>

<script>
    var products;
    function Edit(item) {
        Partial("data/AddProduct.cshtml", function (block) {
            var dialog = $("body").dialog({
                data: block,
                title: "Add/Edit Products",
                confirmText: "Save",
                cancelText: "Cancel",
                onCancel: function () {
                    products.body();
                },
                screan: true,
                buttons: [{
                    text: "Save",
                    click: function () {
                        var x = validateProduct();
                        if (x != false) {
                            $(".body").ax({
                                url: '@Url.Action("SaveProduct", "Admin")',
                                data: JSON.stringify(x),
                                success: function (data) {
                                    products.body();
                                    dialog.Hide();
                                }
                            });


                        }
                        return false;
                    }
                }]
            }).Show();
            EditProducts(item);
        });
    }


    var columns = [{ data: "name", header: "Name" },
        { data: "description", header: "Description" },
        { data: "status", header: "Status" },
        {
            header: "Categories",
            data: function (item) {
                var value = "";
                $.each(item.productcategories, function () {
                    value += this.category.name + ",";
                });
                if (value.length > 2)
                    value = value.slice(0, -1);
                return value;
            },
            sortable: false
        },

    ]

    products = $(".products").treeView({
        columns: columns,
        sort: "desc",
        sortColumn: "name",
        buttons: [{ text: "Add new product", click: function () { Edit(); } }],
        header:"Manage Products",
        onDelete: function (item) {
            confirm("Are you sure?", function () {
                $(".products").ax({
                    url: '@Url.Action("DeleteProduct", "Admin")',
                    data: JSON.stringify({ itemId: item.id }),
                    async: false,
                    success: function (data) {
                        products.body();
                    }
                });
            }, $(".products"));
        },
        onEdit: function (item) {
            Edit(item);
        },
        data: function (settings) {
            var result = "";
            if (!settings)
                return [];
            $(".products").ax({
                url: '@Url.Action("GetProduct", "Admin")',
                data: JSON.stringify(settings),
                async: false,
                success: function (data) {
                    settings.totalPages = data.totalpages;
                    result = data.result;
                }
            })
            return result;
        }
    });
</script>