
<div class="login">

</div>

<script>
    $(document).ready(function () {
        loginView = $(".login").loginView({
            signIn: '@Url.Action("SignIn", "Home")',
            signOut: '@Url.Action("SignOut", "Home")',
            get: '@Url.Action("GetcurrentUser", "Home")',
            homePage: '@Url.Action("index", "Home", null, Request.Url.Scheme)',
            connector: ".fa-user"
        });

        setTimeout(function () {
            loginView.children("div").center();
        },200);
    });
</script>