<div class="crt">

</div>
<script>
    $(document).ready(function () {
        shoppingCart = $(".crt").shoppingCart({
            get: '@Url.Action("GetCart", "Home")',
            save: '@Url.Action("AddCart", "Home")',
            field: '@Url.Action("UpdateField", "Home")',
            connector: $(".veryTop > .cart"),
            image: '@Url.Action("GetIcon", "TinyMce", null, Request.Url.Scheme)',
            display: "block"
        });

    });
</script>