
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Admin/Shared/_AdminLayout.cshtml";
}

<div class="contentHeader">
    <h1>Dashboard</h1>
</div>

<div class="blockContainer">
    <div class="block">
        <h1>Sales</h1>
    </div>


    <div class="block">
        <h1>Moms</h1>
    </div>
</div>