<div class="product-wrapper">
    <a href="{Url}" class="image-Wrapper">
        <img src="{Src}" />
    </a>
    <div class="text-container">
        <a href="{Url}" class="product-link">
            <div class="text-content">
                <h2 class="{Description}">{Title}</h2>
                <p class="description">{Description}</p>
            </div>
        </a>
    </div>
    <div class="box-bottom">
        <div class="product-price">
            <span class="Price">{Price}</span>
        </div>
        <button class="m-button float-right btn--addtoCart ">Buy</button>
    </div>
</div>

