.dialog {
    min-width: 300px;
    position: absolute;
    /*min-height: 100px;*/
    z-index: 12;
    border: 1px solid #CCC;
    background: white !important;
    overflow: hidden;
}

    .dialog > div {
        display: block;
        width: 100%;
        overflow: auto;
        height: 97%;
        padding-bottom:20px;
    }

.dialogDim {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #000000;
    opacity: 0.5;
    z-index: 10;
    left: 0;
    top: 0;
}

.dialog > div > table {
    width: 99%;
    height: 97%;
    margin: 5px;
}

    .dialog > div > table > tbody > tr > td {
        vertical-align: top;
    }

    .dialog > div > table > tbody > tr:last-child > td {
        vertical-align: bottom !important;
    }

.dialog > h1 {
    /*width: 95%;*/
    padding: 5px;
    font-size: 16px;
    margin: 0;
    background: #00a0d0;
    color: white;
}

    .dialog > h1 > span {
        font-size: 17px !IMPORTANT;
        margin-left: 5px;
    }
    .dialog > h1 > span, .dialog > div > table > tbody > tr:last-child > td > span {
        display: inline-block;
        float: right;
        cursor: pointer;
        color: white;
        padding: 1px;
        position: relative;
        font-size: 11px;
        text-align: center;
        height: 17px;
        min-width: 10px;
    }

        .dialog > h1 > span.close:hover {
            color: red !important;
        }

        .dialog > h1 > span:hover {
            color: #CCC;
        }

.dialog > div > table > tbody > tr:last-child > td > span {
    width: auto;
    height: auto;
    display: block;
    padding: 5px;
    background: #df6b51;
    margin-right: 2px;
    font-weight: bolder;
}
