@using IProduct.Modules.Library;
@using IProduct.Modules.Library.Custom;
@model GenericView<Pages>

@*-----------------Page Slider-------------------------*@
@if (Model.View.PagesSliders.Count() > 0)
{
    <div class="section slider">
        @foreach (var item in Model.View.PagesSliders)
        {
            var src = @Url.Action("index", "Home", null, Request.Url.Scheme) + item.Files.FileFullPath;
            <div>
                <img src='@src' href='@item.Url' imageId='@item.Files_Id' />
                @if (string.IsNullOrEmpty(item.Description))
                {
                    <span class="description">@item.Description</span>
                }
            </div>
        }
    </div>
    <script>
        var slider = $(".slider");
        toLocation(slider.find("img"));
        $('.slider').slick({
            dots: false,
            infinite: true,
            autoplay: true,
            autoplaySpeed: 4000,
            arrows: false,
            speed: 500,
            fade: true,
            cssEase: 'linear'
        });
    </script>
}
@*------------Sections-------------------*@

@if (Model.View.PageSections.Count() > 0)
{
    foreach (var section in Model.View.PageSections.OrderBy(x => x.Order))
    {
        if (section.PageType == IProduct.Modules.PageType.Product)
        {
            Html.RenderPartial("~/Views/data/Products.cshtml", section);
        }
    }
}