<div class="section productdetali">

</div>

<script>
    $(document).ready(function () {
        var procustId = '@Context.Request.QueryString["id"]';
        var container = $(".productdetali");
        function GetCurrentProduct() {
            var result = undefined;
            container.ax({
                url: '@Url.Action("GetProduct", "Home")',
                data: JSON.stringify({ id: procustId }),
                async: false,
                success: function (data) {
                    result = data[0];
                }
            });
            return result;
        }
        var product = GetCurrentProduct();
        container.append("<h1>" + product.name + "</h1>").append("<span class='description'>" + (isNullOrEmpty(product.description) ? "" : product.description) + "</span>");
        var table = $("<table><tbody></tbody></table>");
        var tr = $("<tr></tr>").append('<td> <ul class="productImages slider"></ul><div class="detali"><span class="price">' + product.price + ':-</span> <span class="btn clearfix">Buy</span></div></td>')
        table.find("tbody").append(tr);
        tr = $("<tr></tr>").append("<td><div class='htmlContent'></div></td>");
        table.find("tbody").append(tr);
        container.append(table);
        table.find(".btn").click(function () {
            shoppingCart.add(product.id);
        });

        var src = "/Content/Image/info.png";
        if (product.images && product.images.length > 0) {
            $.each(product.images, function (i, x) {
                var th =  '@Url.Action("GetIcon", "TinyMce", null, Request.Url.Scheme)' + "?uuid=" + this.images.id + "&&width=200&&height=150&&t=" + new Date().toString();
                src = '@Url.Action("GetImageFile", "TinyMce", null, Request.Url.Scheme)' + "?uuid=" + this.images.id + "&&width=300&&height=150&&t=" + new Date().toString();
                var li = $("<li data-thumb='" + th + "' data-src='"+src+"' ></li> ").append("<img imageId = '" + this.images.id + "' src = '" + src + "' /> ");
                container.find(".productImages").append(li);

            });

            var s = container.find(".productImages").lightSlider({
                item: 1,
                gallery: true,
                auto: false,
                autoWidth: false,
                loop: false,
                slideMove: 1,
                easing: 'cubic-bezier(0.25, 0, 0.25, 1)',
                speed: 1500,
            });
            function resize() {

                container.find(".productImages").find("img").each(function () {
                    var height = $(this).height();
                    $(this).parent().height(height);

                })
                s.refresh();
            }


            //$(window).resize(function () {
            //    setTimeout(resize, 200);
            //});
            //s.refresh();
            //setTimeout(resize, 200);
        }

        if (product.tabs && product.tabs.length > 0) {
            var tabs = $("<div></div>");
            container.append(tabs);
            tabs = tabs.tabs({
                onSelect: function (tab) {
                    if (tab.onSelect)
                        tab.onSelect(tab);
                }
            });



            $.each(product.tabs, function (i, x) {
                var content = $("<div>" + this.content + "</div>");
                var tb = tabs.add(content, this.name, i);
                if (i <= 0)
                    tb.select();

            });
        }



    });
</script>