<div class="section">
    <div class="wizard"></div>
    <div class="profile form-row" style="width: 52%;">

    </div>

    <div class="invoice form-row">
        <iframe style="width:100%; height:100%;"></iframe>
    </div>

    <div class="floatRight">
        <span class="btn">Previous</span>
        <span class="btn">Next</span>
    </div>
</div>
<script>

    $(document).ready(function () {
        var tabs = $(".wizard").tabs({
            wizard: false,
            type: "collapse",
            onSelect: function (tab) {
                if (tab.onSelect)
                    tab.onSelect(tab);
            }
        });

        if (shoppingCart.count() > 0) {
            var user = loginView.get();
            var cart = tabs.add(Partial("ManagedCart.cshtml"), "Product Cart", "ShippingCart").select();
            var account = tabs.add($(".profile"), "Profile", "Profile");
            var tbInvoice = tabs.add($(".invoice"), "Invoice", "Invoice").disable();

        
            $(".floatRight .btn").first().click(function () {
                if (tabs.selectedItem().id == "Profile")
                    cart.enable().select();
                else if (tabs.selectedItem().id == "Invoice")
                    account.enable().select();
            });

            $(".floatRight .btn").last().click(function () {
                if (tabs.selectedItem().id == "ShippingCart")
                    account.enable().select();
                else if (tabs.selectedItem().id == "Profile" && account.validate())
                    tbInvoice.enable().select();
            });

            var invoice = shoppingCart.invoice();
            account.content.find("input").each(function () {
                var name = $(this).attr("name");
                if (name == "password" && invoice.billinguser != undefined) {
                    $(this).parent().remove();
                }

                $(this).val(invoice[name]);
                $(this).change(function () {
                    shoppingCart.update(name, $(this).val());
                });
            });

        } else {
            $(".wizard").html("<h1>Empty</h1>");
            $(".profile").remove();
            $(".invoice").remove();
        }
    });
</script>
