.tabContainer {
    position: relative;
    border: 1px solid #CCC;
    border-radius: 5px;
    overflow: hidden;
    padding: 0;
    /*min-height: 100vh;*/
    max-width: 95vw;
    width:100%;
}



    .tabContainer > .tabs {
        list-style: none;
        width: 100%;
        white-space: nowrap;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        background: white;
        padding: 0;
        height: 37px;
        border-bottom: 1px solid #CCC;
        margin: 0;
    }

    .tabContainer .wizard {
        border: none !important;
    }

    .tabContainer > .tabs li.disabled {
        opacity: 0.5;
    }

    .tabContainer > .tabs li {
        float: left;
        border: 1px solid #eee;
        padding: 6.9px;
        min-width: 92px;
        text-align: center;
        border-bottom: none;
        margin-right: 5px;
        font-size: 14px;
        cursor: pointer;
        border-top: 0;
        border-left: none;
        margin: 0;
        background: #f0f0f0;
        color: #909ba9;
        font-weight: bolder;
        padding-bottom: 5px;
    }

    .tabContainer .wizard > li {
        /*margin: 10px;*/
        border: 1px solid #eee;
        border-radius: 5px;
    }

    .tabContainer > .tabs li.selected {
        padding: 8px;
        background: white;
    }

    .tabContainer > div > *, .tabContainer > div > div {
        max-width: 95vw;
        overflow-x: hidden;
    }

    .tabContainer > div {
        display: none;
        width: 100%;
        height: 100%;
        position: relative;
        padding: 5px;
        max-height: 95vh;
        overflow: auto;
        padding: 10px;
        margin: auto;
        float: left;
    }
