<div class="product-table-header">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" style="float: left;" id="basic-addon3">Sort by:</span>
            <div class="dropdown ">
                <button value="{Selected}" class="dropbtn">
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-menu dropdown-content" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" value="{Item_Value_1}">{Item_Text_0}</a>
                    <a class="dropdown-item" value="{Item_Value_1}">{Item_Text_1}</a>
                    <a class="dropdown-item" value="{Item_Value_2}">{Item_Text_2}</a>
                </div>
            </div>
        </div>
       
    </div>
</div>

<div class="product-table-wrapper">
    <a href="{Url}" class="image-Wrapper">
        <img src="{Src}" />
    </a>
    <a href="{Url}" class="text-container">
        <div class="text-content">
            <h2 title="{Description}">{Title}</h2>
            <p class="descripion">{Description}</p>
        </div>
    </a>
    <div class="box-bottom">
        <div class="product-price">
            <span class="price">{Price}</span>
        </div>
        <button class="m-button float-right btn--addtoCart">Buy</button>
    </div>
</div>